.modal {
  background-color: #2d3748;
  padding: 20px;
  width: 430px;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  animation: show-modal ease .3s;
  z-index: 201;
}

.title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
  flex: 1;
}

.actions {
  flex: 1;
  text-align: right;
  margin-left: auto;
}

.actions button {
  padding: 8px;
  margin-left: 5px;
  min-width: 45px;
  border: 2px solid transparent;
  font-weight: 600;
  transition: all linear .2s;
}

.actions button:focus {
  border: 2px solid #5296d6;
}

.actions button:first-child {
  background-color: #424b5b;
  color: white;
}

.actions button:first-child:hover {
  background-color: #4f5765;
}

.actions button:first-child ~ button {
  background-color: #feb2b2;
}

.actions button:first-child ~ button:hover {
  background-color: #fc8181;
}

.content {
  flex: 2;
}

@keyframes show-modal {
    from{
        visibility: hidden;
        opacity: 0;
        scale: 0.8;
    }
    to{
        visibility: visible;
        opacity: 1;
        scale: 1;
    }
}